*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0f62fe;
    color:white;
    text-align:center;
    padding:60px;
}

section{
    width:85%;
    margin:auto;
    margin-top:40px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    margin-bottom:25px;
}

h1{
    font-size:42px;
}

h2{
    color:#0f62fe;
    margin-bottom:15px;
}

ul{
    margin-left:20px;
}

footer{
    background:#0f62fe;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
